body {
    background-color: var(--my-black);
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 99999;
    opacity: 0.7;
}