
:root {
    --my-pure-black: #000;
    --my-success: #198754;
    --my-primary: #0a548b;
    --my-orange: #fd7e14;
    --my-danger: #dc3545;
    --my-purple: #800080;
    --my-secondary: #6c757d;
    --my-black: #212529;
    --my-withe: #f8f9fa;
}
